/* BLOG SECTION STYLES*/
.blogPost {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.blogPost li {
    width: 50%;
}

.blogContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.blogContainer img {
    object-fit: cover;
    width: 50%;
}

@media (max-width: 1800px) {
    .blogContainer img {
        width: 30%;
    }
}

@media (max-width: 1000px) {
    .blogPost {
        flex-direction: column;
    }
    .blogPost li {
        width: 100%;
    }
    .blogContainer img {
        width: 50%;
    }
    .blogPost li:nth-of-type(2) {
        order: 1;
    }
    .blogPost li:nth-of-type(4) {
        order: 2;
    }
}

@media (max-width: 550px) {
    .blogContainer img {
        width: 18%;
    }
}

.blogContainer figcaption {
    background: #eaeaea;
    padding: 50px;
}

.blogText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.blogText h5 {
    margin: 10px 0;
    color: $primary-color;  
}

.blogText h4 {
    text-transform: capitalize;
    padding-bottom: 10px;
}

.blogText .section-text {
    font-weight: 400;
}

.readMore {
    font-size: 0.8rem;
}

.readMore a {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    &:hover {
        color: $accent-color;
    }
}

.fa-long-arrow-right {
    padding: 10px;
}


/* Decorative triangles for blogs */
.blogBefore::before, 
.blogAfter::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #eaeaea;
    position: absolute;
}

.blogBefore::before {
        left: 0%;
        transform: translate(-150%, 50%) rotate(45deg);
    }
.blogAfter::before {
    right: 0%;
    transform: translate(150%, 50%) rotate(45deg);
}

@media (max-width: 370px) {
    .blogContainer img {
        display: none;
    }
    .blogBefore::before {
        display: none;
    }
    .blogAfter::before {
        display: none;
    }
}
