/* CHOOSE US SECTION STYLES */
.servicesBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .servicesBox {
        width: 95%;
        margin: 0 auto;
    }
}

.servicesText p:nth-of-type(2) {
    text-transform: uppercase;
    font-family: $primary-font;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    span {
        font-family: $secondary-font;
        font-style: italic;
        color: $secondary-color;
        letter-spacing: 0;
    }
}

.servicesText h4 {
    margin: 1.5rem 0;
}

.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 30px 0;
}

.chartItem {
    width: 33%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
}

.chartItem i {
    font-size: 2.0rem;
    padding: 8px 25px 25px 25px;  
}

@media (max-width: 670px) {
    .servicesBox img {
        display: none;
    }
    .chartItem {
        width: 50%;
    }
}

@media (max-width: 455px) {
    .chartItem {
        width: 100%;
    }
}

