/* COPYRIGHT FOOTER STYLES */
.navFooter {
    background: $primary-color;
    padding: 25px 0;
}

.copyrightFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.copyrightFooter li:first-child {
    font-family: $primary-font;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.158);
}

.footerSocialNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerSocialNav i {
    color: $secondary-color;
    font-size: 1.2rem;
    padding: 0 25px;
    &:hover {
        color: $accent-color;
    }
}

@media (max-width: 1200px) {
    .copyrightFooter {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 530px) {
    .copyrightFooter {
        flex-direction: column;
    }
    .copyrightFooter > li:first-child {
        order: 1;
        padding-top: 10px;
        text-align: center;
    }
    .footerSocialNav {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 440px) {
    .footerSocialNav {
        width: 50%;
        justify-content: space-between;
        width: 100%;
    }
    .footerSocialNav i {
        padding: 0 10px;
    }
}