/* COPYRIGHT FOOTER STYLES */
.nav-footer {
    background: $primary-color;
    padding: 25px 0;
}

.copyright-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1570px) {
        padding: 0 10px;
    }
        @media (max-width: $break-large) {
                flex-direction: column-reverse;
        }
}

.copyright {
    font-family: $primary-font;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.158);
    @media (max-width: $break-large) {
                padding-top: 10px;
        }
    @media (max-width: 500px) {
            text-align: center;
        }
}

.footer-social-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    i {
        color: $secondary-color;
        font-size: 1.2rem;
        padding: 0 25px;
        &:hover {
            color: $accent-color;
        }
        @media (max-width: 500px) {
            padding: 0 15px;
        }
    }
}