/*GLOBAL STYLES*/
/* Variables */
$primary-color:#141414;
$secondary-color: #6f6f6f;
$accent-color: #eeb013;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Crimson Text", serif;
$break-small: 480px;
$break-medium: 768px;
$break-large: 940px;

/* Main global styles */
body {
    font-size: 62.5%;
    background-color: white;
    a {
        text-decoration: none;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
        }
    }
    p {
        padding: 0;
        margin: 0;
    }
    .section-text {
        font-size: 1.0rem;
        font-family: $primary-font;
        color: $secondary-color;
        line-height: 30px;
        margin-bottom: 25px;
    }
}

.wrapper {
        margin: 0 auto;
        max-width: 1920px;
}

.inner-wrapper {
                margin: 0 auto;
                max-width: 1125px;
}

section {
    padding: 50px 0;
}

h1,
h2,
h6 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0 0 20px 0;
    margin: 0;
    text-align: center;
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 700;
    font-size: 1.0rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h4 {
    color: $primary-color;
    font-family: $primary-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 15px 0;
    margin: 15px 0;
}

h5 {
    // padding: 0;
    margin: 0;
    color: rgba(209, 203, 203, 0.9);
    font-family: $secondary-font;
    font-style: italic;
    font-size: 1.0rem;
}

h6 {
    color: $primary-color;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;

}

.button {
    a {
        font-family: $primary-font;
        color: $primary-color;
        font-size:1.0rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
        border: 1px solid $primary-color;
        padding: 15px 20px;
        &:hover {
            background: $accent-color;
        }

    }
}
