/* HEADER STYLES */
.mainHeader {
    height: 100vh;
    background: url(../images/header-background.jpg) fixed center/cover;
}
                
/* Navigational header styles */
nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 65%;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 940px) {
            position: absolute;
            flex-direction: column;
            align-items: flex-start;
            background: $accent-color;
            padding: 0;
            display: none;
            top: 100%;
    }
}

.mainNav li a {
    font-family: $primary-font;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear;
    &:hover {
        border-bottom: 2px solid $accent-color;
        color: $accent-color;
    }
}

/*Checkbox navigation styles */
input#toggle:checked + .mainNav {
    display: inline;
}   


input#toggle {
    display: none;
}

label {
    display: none; 
        @media (max-width: 940px) {
            display: block;
            color: white;
            font-size: 0.8rem;
            margin: 10px;
            font-family: $primary-font;
        }
        // @media (max-width: $break-medium) {
        //     font-size: 1.0rem;
        // }
        // @media (max-width: $break-medium) {
        // width: 80px;
        // text-align: center;
        // margin: 0;
        // padding: 10px 0;
        // }
    }

/*Sub nav styles */
.subNav ul {
        display: none;
        position: absolute;
        padding: 5px 0;
        @media (max-width:940px) {
            top: 45%;
            right: -83%;
            background: $primary-color;
        }
        li {
            a {
                display: inline-block;
                margin-top: 8px;
            }
        }
}


.subNav:hover ul {
    display: block;
}

.subNav a i {
    margin-left: 10px;
}

/*Header icon nav styles */
.iconNav {
    width: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconNav li {
    a {
        color: white;
        font-size: 0.8rem;
        transition: color 0.3s ease-in;
        &:hover {
            color: $accent-color;
        }
    } 
}

/* HEADER BANNER STYLES */
.headerBanner ul {
        padding-top: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        line-height: 65px;
        width: 100%;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerText p {
    color: white;
    font-family: $primary-font;
    font-size: 3.0rem;
    font-weight: 700;
}

.headerArrow .fa {
    font-size: 1.2rem;
}

.fa-chevron-left, 
.fa-chevron-right {
    color: rgba(255,255,255,0.445);
    text-shadow: $primary-color 0 0 15px;
    padding: 10px;
}  


.websiteTitle {
                font-size: 6.0rem;
}

.slogan { 
    margin-top: -25px;
}

.enterButton {
    margin-top: 45px;
}

.enterButton a {
    color: $light-accent;
    border: 1px solid $light-accent;
    padding: 25px 15px;
    border-radius: 50%;
    text-shadow: $primary-color 0 0 25px;
    box-shadow: $primary-color 0 0 25px;
    &:hover {
        color: $accent-color;
        border-color: $accent-color;
    }
}

@media (max-width: 1200px) {
    nav {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .mainNav {
        border: 1px solid green;
        width: 100%;
    }
    .menu {
        position: relative;
        width: 60%;
        text-align: right;
    }
    .toggle {
        margin: 0 20px;
    }
    .iconNav {
        width: 8%;
    }
}

@media (max-width: 705px) {
    .headerArrow {
        display: none;
    }
    .headerBanner ul {
        justify-content: center;
    }
}

@media (max-width: 570px) {
    .websiteTitle {
        font-size: 4.4rem;
    }
}

@media (max-width: 565px) {
    .iconNav {
        width: 20%;
        margin-left: 5%;
    }
    .iconNav i {
        font-size: 1.2rem;
    }
    #toggle {
        font-size: 1.2rem;
    }
    .websiteTitle {
        font-size: 3.8rem;
    }
}

@media (max-width: 400px) {
    .iconNav {
        margin-left:2%;
        width: 30%;
    }
}

@media (max-width: 370px) {
    .headerText p {
        font-size: 2.0rem;
    }
    .websiteTitle {
        font-size: 2.5rem;
    }
    #toggle {
        font-size: 1.0rem;
    }
}

@media (max-width: 345px) {
    .iconNav {
        flex-direction: column;
        margin-left: 0;
    }
    .iconNav i {
        padding-bottom: 10px;
        font-size: 1.0rem;
    }
    #toggle {
        font-size: 0.8rem;
    }
}
