/* HEADER STYLES */
.main-header {
    height: 100vh;
    background: url(../images/header-background.jpg) fixed center/cover;
    // @media (max-width: 1166px) {
        //     .image-box {
            //         margin-left: 25px;
            //     }
            // }
            // @media (max-width: 360px) {
                //     .image-box {
                    //         margin: 10px;
                    //     }
}
                
/* Navigational header styles */
nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @media (max-width: $break-large) {
    //     justify-content: flex-start;
    //     padding-top: 30px;
    // }
    // @media (max-width: 360px) {
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     align-items: center;
    //     width: 80%;
    //     margin: 0 auto;
    // }
}

// @media (max-width: 360px) {
//     .company-logo {
//         width: 200px;
//     }
// }

.menu {
    width: 65%;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // a {
    //     color: white;
    // }
    // @media (max-width: $break-large) {
    //         position: absolute;
    //         flex-direction: column;
    //         align-items: flex-start;
    //         background: $accent-color;
    //         padding: 0;
    //         display: none;
    //         top: 100%;
    // }
}

.mainNav li a {
    font-family: $primary-font;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear;
    &:hover {
        border-bottom: 2px solid $accent-color;
        color: $accent-color;
    }
}

/*Checkbox navigation styles */
// @media (max-width: $break-large) {
//     .menu {
//         position: relative;
//     }
//     .toggle {
//         margin: 0 20px;
//     }
// }

input#toggle:checked + .main-nav {
    display: inline;
}   


input#toggle {
    display: none;
}

label {
    display: none; 
        // @media (max-width: $break-large) {
        //     display: block;
        //     color: white;
        //     font-size: 0.8rem;
        //     margin: 10px;
        //     font-family: $primary-font;
        // }
        // @media (max-width: $break-medium) {
        //     font-size: 1.0rem;
        // }
        // @media (max-width: $break-medium) {
        // width: 80px;
        // text-align: center;
        // margin: 0;
        // padding: 10px 0;
        // }
    }

/*Sub nav styles */
.subNav ul {
        display: none;
        position: absolute;
        padding: 5px 0;
        // @media (max-width:$break-large) {
        //     top: 45%;
        //     right: -83%;
        //     background: $primary-color;
        // }
        li {
            a {
                display: inline-block;
                margin-top: 8px;
            }
        }
}


.subNav:hover ul {
    display: block;
    // @media (max-width:$break-large) {
        
    // }
}

.subNav a i {
    margin-left: 10px;
}

/*Header icon nav styles */
.iconNav {
    width: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @media (max-width: 1166px) {
    //     margin-right: 25px;
    // }
    // @media (max-width: $break-medium) {
    //     width: 80px;
    //     margin: 0;
    // }
}

.iconNav li {
    a {
        color: white;
        font-size: 0.8rem;
        transition: color 0.3s ease-in;
        &:hover {
            color: $accent-color;
        }
    } 
    // @media (max-width: $break-medium) {
    //     margin: 10px;
    //     font-size: 1.0rem;
    // }
}

/* HEADER BANNER STYLES */
.headerBanner ul {
        padding-top: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        line-height: 65px;
        // @media (max-width: $break-large) {
        //     padding-top: 80px;
        // }
        // @media (max-width: $break-medium) {
        //     justify-content: center;
        //     padding-top: 60px;
        // }
        // @media (max-width: $break-small) {
        //     padding-top: 0;
        // }
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // @media (max-width: $break-medium) {
    //     width: 100%;
    // }
}

.headerText p {
    color: white;
    font-family: $primary-font;
    font-size: 3.0rem;
    font-weight: 700;
    // @media (max-width: $break-large) {
    //     font-size: 2.5rem;
    // }
    // @media (max-width: 480px) {
    //     font-size: 2.1rem;
    //     // border: 1px solid lime;
    // }
    // @media (max-width: 320px) {
    //     font-size: 1.8rem;
    // }
}

.headerArrow .fa {
    font-size: 1.2rem;
    // @media (max-width: $break-medium) {
    //     display: none;
    // }
}

.fa-chevron-left, 
.fa-chevron-right {
    color: rgba(255,255,255,0.445);
    text-shadow: $primary-color 0 0 15px;
    padding: 10px;
}  


.websiteTitle {
                font-size: 6.0rem;
                // @media (max-width: 620px) {
                //     font-size: 4.5rem;
                // }
                // @media (max-width: 480px) {
                //     font-size: 3.5rem;
                //     // border: 1px solid goldenrod;
                // }
                // @media (max-width: 320px) {
                //     font-size: 3.0rem;
                //     display: inline-block;
                //     margin-top: -10px;
                // }
}

.slogan { 
    margin-top: -25px;
}

.enterButton {
    margin-top: 45px;
}

.enterButton a {
    color: $light-accent;
    border: 1px solid $light-accent;
    padding: 25px 15px;
    border-radius: 50%;
    text-shadow: $primary-color 0 0 25px;
    box-shadow: $primary-color 0 0 25px;
    &:hover {
        color: $accent-color;
        border-color: $accent-color;
    }
}


