/* MAIN FOOTER STYLES */
.mainFooter {
    background: $primary-color;
    color: $secondary-color;
    padding: 25px 0;
    font-family: $primary-font;
    margin-top: 45px;
}

.footerSectionBio {
    width: 35%;
}

.footerBio {
    width: 100%;
    line-height: 20px;
}

.footerBio li {
    display: inline-block;
}

.footerBio li:first-child {
    color: $accent-color;
}

.footerBio img {
    padding: 25px 0;
}

.footerSectionLinks {
    width: 15%;
}

.footerElements {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footerInsta {
    width: 30%;
}
.footerLinks {
    padding: 0 20px 0 30px;
}

.footerLinks a {
        color: $secondary-color;
        text-transform: uppercase;
        padding: 7px 0;
        display: inline-block;
        &:hover {
            color: $accent-color;
        }
}

.footerTwitter {
    width: 20%;
}

.twitterWidget p {
    line-height: 20px;
}

.twitterWidget p:last-child {
    color: rgba(255, 255, 255, 0.158);
    margin-bottom: 10px;
}

.twitterWidget a {
    color: $secondary-color;
    &:hover {
        color: $accent-color;
    }
}

.fa-twitter {
    color: rgba(255, 255, 255, 0.158);
    padding-right: 10px;
}
.twitterWidget {
    padding: 0 30px 0 5px;
}

.instagramFooter {
    padding: 0 0 0 30px;
}

.footerImages {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    }

.footerImages div {
    width: 90px;
    height: 90px;
    background: $secondary-color;
    display: flex;
    &:hover i {
        color: white;
    }
    &:hover {
        background: $accent-color;
    }
}

.footerImages i {
    margin: auto;
    font-size: 1.6rem;
    color: $secondary-color;
}

.footerHeading {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin: 10px 0 25px 0;
}

@media (max-width: 1200px) {
    .footerElements {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .footerImages{
        justify-content: flex-start;
    }
    .footerImages li {
        border: 3px solid $primary-color;
    }
}

@media (max-width: 800px) {
    .footerImages li {
        width: 50%;
    }
}

@media (max-width: 740px) {
    .footerImages div {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .footerInsta {
        display: none;
    }
    .footerSectionLinks {
        width: 35%;
    }
    .footerTwitter {
        width: 35%;
    }
}

@media (max-width: 450px) {
    .footerSectionBio {
        width: 70%;
    }
    .footerSectionLinks {
        width: 30%;
    }
    .footerElements {
        flex-wrap: wrap;
    }
    .footerTwitter {
        width: 95%;
    }
}