/* OUR WORK SECTION STYLES*/
/* Our works button banner styles */
.worksButtons {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 1.5rem auto;
}

.small a {
    display: inline-block;
    font-size: 0.6rem;
    letter-spacing: 0;
}

// @media (max-width: $break-large) {
//     .our-works-buttons {
//         flex-wrap: wrap;
//         width: 70%;
//     }
// }
// @media (max-width: 800px) {
//     .our-works-buttons {
//         width: 60%;
//         flex-wrap: wrap;
//         align-items: center;
//         justify-content: center;
//     }
//     .button--small a {
//         width: 120px;
//         margin: 10px;
//     }
//     .button--small:first-child a {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     .button--small:last-child a {
//         width: 50px;
//     }
// }
/* Our works photogrid styles */
.photogridText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
}

.photoOverlay {
    display: none;
    height: 30%;
    justify-content: center;
    // @media (max-width: 500px) {
    //     display: block;
    // }
}

.photoOverlay p:first-child {
    font-family: $secondary-font;
    font-style: italic;
    font-size: 1.0rem;
    padding: 20px;
    color: rgba(255,255,255,0.7);
}

.photoOverlay p:last-child {
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.0rem;
    color: rgba(255,255,255,0.7);
}

.ourWorksPhotogrid {
    figure:hover .photoOverlay,
    figure:focus .photoOverlay{
        display: inline-block;
        background: $primary-color;
    }
}

.ourWorksPhotogrid { 
    display: flex;
    flex-wrap: wrap;
}


.ourWorksPhotogrid figure {
        position: relative;
    }
    
// .photogridImage {
//         display: block;
//         // @media (max-width: $break-small) {
//         //     width: 300px;
//         // }
// }



