/* CLIENT TESTIMONIALS STYLES */
/* Client images styles */
.clientGrid {
    display: flex;
    justify-content: center;
}

.clientGrid li {
    padding: 20px;
}

/*Client information styles */
.client {
    text-transform: uppercase;
    text-align: center;
}

.name {
    font-family: $primary-font;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding: 15px 0 5px 0;
}

.position {
    font-family: $secondary-font;
    color: $secondary-color;
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.triangleIcon {
    padding: 5px;
    position: relative;
    z-index: 50;
    background: white;
}

.sectionImage {
    margin: 0 auto;
    width: 45px;
}

.sectionImage::before {
    content: "";
    width: 110px;
    border-top: 1px solid rgba(134, 132, 132, 0.308);
    height: 20px;
    position: absolute;
    left: 50%;
    z-index: 40;
    margin-top: 10px;
    transform: translateX(-50%);
}

.clientQuote {
    text-align: center;
    font-family: $secondary-font;
    font-size: 1.0rem;
    font-style: italic;
    color: $secondary-color;
    line-height: 25px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.clientHoverBar {
    display: flex;
    justify-content: center;
}

.fa-circle {
    padding: 5px;
    color: $secondary-color;
    &:hover {
        color: $accent-color;
    }
}

@media (max-width: 570px) {
    .clientGrid {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    .clientGrid li:first-child {
        display: none;
    }
    .clientGrid li:last-child {
        display: none;
    }
}