/* PRICING SECTION STYLES*/
.tagline {
    text-align: center;
    margin: 20px 0 50px 0;
}
.pricingSection span {
    font-family: $secondary-font;
    text-transform: lowercase;
    color: $secondary-color;
    font-style: italic;
}

.allPricingPlans {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: $primary-font;
}


.planButton {
    visibility:hidden;
    margin-bottom: -30px;
}

.planButton a {
    color: white;
    background: $primary-color;
    text-transform: uppercase;
    padding: 10px 35px;
    &:hover {
        background: $accent-color;
    }
}

.pricePlan li {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: $secondary-color;
    padding: 25px 40px; 
}

.pricePlan li:first-child {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding: 25px 50px;
    width: 100%;
    border-bottom: 1px solid $secondary-color;
    color: $primary-color;
    @media (max-width: 940px) {
        display: inline-block;
    }
}



.pricePlan {
    border: 1px solid $secondary-color;
    transition: all 0.5s ease-in;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0.5px 1px 10px $accent-color;
    }
    &:hover .planButton {
        visibility:visible;
    }
}

.pricePlan li:nth-child(3),
.pricePlan li:nth-child(5) {
    position: relative;
}

.pricePlan li:nth-child(3)::after,
.pricePlan li:nth-child(5)::after {
    content: "\f00c";
    font-family: "FontAwesome";
    color: $accent-color;
    padding: 0 10px;
    position: absolute;
    margin-top: 2px;
}

.price p {
    font-size: 3.4rem;
    color: $primary-color;
    position: relative;

}

.priceSymbol {
    font-weight: 700;
    position: absolute;
    top: 5px;
    left: -12px;
}

.price span {
    font-size: 0.8rem;
}

@media (max-width: 1200px) {
    .allPricingPlans > li {
        padding: 25px 15px;
    }
}

@media (max-width: 1000px) {
    .allPricingPlans > li {
        padding: 25px 5px;
    }
    .pricePlan:hover {
        transform: none;
    }
    .planButton {
        visibility: visible;
    }
}

@media (max-width: 950px) {
    .allPricingPlans {
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
    }
    .allPricingPlans > li {
        padding: 25px;
    }
}

@media (max-width: 715px) {
    .allPricingPlans > li {
        padding: 25px 5px;
    }
}

@media (max-width: 650px) {
    .allPricingPlans > li {
        width: 50%;
    }
    .planButton a {
        padding: 10px 15px;
    }
    .price p {
        font-size: 2.0rem;
    }
    .pricePlan li:first-child {
        font-size: 1.2rem;
    }
}

@media (max-width: 530px) {
    .price-info {
        display: none;
    }
    .planButton a {
        font-size: 0.6rem;
    }
    .pricePlan li:first-child {
        font-size: 0.8rem;
    }
}

@media (max-width: 450px) {
    .allPricingPlans > li {
        width: 80%;
    }
    .planButton a {
        padding: 10px 35px;
    }
}

@media (max-width: 365px) {
    .planButton a {
        padding: 10px 15px;
    }
}
