/* PROMOTION BANNER STYLES */
.promotionBanner {
    background: $primary-color;
    // @media (max-width: 710px) {
    //     padding: 50px 10px;
    // }
}

.bannerInfo p:first-child {
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: 1px;
    // @media (max-width: 1570px) {
    //     margin-bottom: 25px;
    //     text-align: center;
    // }
    // span {
    //     color: $accent-color;
    // }
}

.bannerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @media (max-width: 1170px) {
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }
}

.bannerInfo .button a {
    background: $accent-color;
    color: $secondary-color;
    &:hover {
        background: $secondary-color;
        color: $accent-color;
    }
}
// @media (max-width: 1570px) {
//     .banner-info .button {
//         margin: 0 10px;
    
//     }
// }
