/* OUR TEAM SECTION STYLES */
.teamGallery {
    display: flex;
    justify-content: space-between;
}

.teamGallery li {
    position: relative;
}

.teamGallery figure {
    position: relative;
    &:hover .teamDetails {
        display: block;
        background: rgba(0, 0, 0, 0.247);
    }
}

.teamDetails {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    color: white;
}

.teamDetails div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.teamDetails p {
    margin: 0 20px;
    font-size: 1.0rem;
    letter-spacing: 1px;
}

.teamDetails p:first-child {
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
}

.teamDetails p:last-child {
    padding: 5px 0 15px 0;
    font-family: $secondary-font;
    font-style: italic;
}

.teamGallery figure::before {
    content:"";
    width: 100%;
    height: 81%;
    border-bottom: 1px solid white;
    position: absolute;
    display: none;
}

.teamGallery figure:hover::before {
    display: block;
}

.joinUsText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinUsText div {
    width: 66.6%;
    margin: 0;
}

.joinUsText h4 {
    margin: 1.5rem 0;
}

@media (max-width: 1200px) {
    .teamGallery {
        width: 96%;
        margin: 0 auto;
    }
    .teamGallery img {
        width: 100%;
    }
    .joinUsText {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .teamGallery figure::before {
    border: none;
    }
}

@media (max-width: 650px) {
    .joinUsText {
        flex-direction: column;
    }
    .joinUsText .sectionText {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .teamGallery {
        flex-wrap: wrap;
        justify-content: center;
    }
    .teamGallery figure::before {
    border-bottom: 1px solid white ;
    }
}