/* WEBSITE INTRODUCTION SECTION STYLES */
.websiteIntroBox {
    display: flex;
    justify-content: center;
    align-items: space-between;
} 

.logoBox {
        padding: 0 100px;
    }

.websiteConcept {
    display: flex;
    justify-content: space-between;
}

.conceptText h4 {
    margin: 1.5rem 0;
}

.websiteConcept li {
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    &:hover i {
        border-color: $accent-color;
        color: $accent-color;
    }
    &:hover a {
        color: $accent-color;
    }
}

.websiteConcept li a {
    color: $primary-color;
}

.fa-diamond,
.fa-camera-retro,
.fa-magic {
    font-size: 2.4rem;
    border: 1px solid $secondary-color;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 10px;
}


.large {
    margin-top: 80px;
}

@media (max-width: 1200px) {
    .sectionText {
        margin-right: 2rem;
    }
    .websiteConcept {
        justify-content: flex-start;
    }
    .websiteConcept li {
        margin-right: 3%;
    }
}

@media (max-width: 1000px) {
    .logoBox {
        padding: 0 2rem;
    }
}

@media (max-width: 888px) {
    .websiteConcept {
        flex-wrap: wrap;
    }
    .websiteConcept li {
        width: 45%;
        margin: 6px 0;
    }
}

@media (max-width: 800px) {
    .websiteConcept {
        flex-direction: column;
    }
    .websiteConcept li {
        width: 100%;
    }
}

@media (max-width: 530px) {
    .logoBox {
        display: none;
    }
    .websiteIntroBox {
        width: 90%;
        margin: 0 auto;
    }
    .conceptText .button {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 372px) {
    .websiteConcept {
        width: 90%;
    }
}