/* WEBSITE INTRODUCTION SECTION STYLES */
.website-intro-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    @media (max-width: $break-small) {
        margin: 15px;
    }
    .logo-img {
        flex-grow: 1;
        padding: 0 100px;
        @media (max-width: $break-large) {
            padding: 0 50px;
        }
        @media (max-width: $break-medium) {
            padding: 0 25px;
        }
        @media (max-width: $break-small) {
        display: none;
        }
    }
} 

@media (max-width: 1172px) {
    .section-text {
        padding-right: 30px;
    }
}

.website-concept {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1300px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 10px;
    }
}

.website-concept__theme {
    a {
        font-family: $primary-font;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        &:hover {
            color: $accent-color;
        }
        &:hover i {
            color: $accent-color;
            border-color: $accent-color;
        }
        i {
            color: $primary-color;
            font-size: 2.4rem;
            border: 1px solid $secondary-color;
            padding: 15px;
            border-radius: 50%;
            margin-right: 10px;
            position: relative;
            top: 10px;
            @media (max-width: 1300px) {
                margin: 10px 10px 0;
            }
        }
    }
}

.button--large {
    display: inline-block;
    margin-top: 80px;
    @media (max-width: $break-small) {
        display: block;
        text-align: center;
        margin-top: 40px;
    }
}

