/* WEBSITE INTRODUCTION SECTION STYLES */
.websiteIntroBox {
    display: flex;
    justify-content: center;
    align-items: space-between;
    // @media (max-width: $break-small) {
    //     margin: 15px;
    // }
} 

.logoBox {
        padding: 0 100px;
        // @media (max-width: $break-large) {
        //     padding: 0 50px;
        // }
        // @media (max-width: $break-medium) {
        //     padding: 0 25px;
        // }
        // @media (max-width: $break-small) {
        // display: none;
        // }
    }

// @media (max-width: 1172px) {
//     .section-text {
//         padding-right: 30px;
//     }
// }

.websiteConcept {
    display: flex;
    justify-content: space-between;
    // @media (max-width: 1300px) {
    //     flex-direction: column;
    //     align-items: flex-start;
    //     justify-content: space-between;
    //     padding-left: 10px;
    // }
}

.conceptText h4 {
    margin: 1.5rem 0;
}

.websiteConcept li {
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    &:hover i {
        border-color: $accent-color;
        color: $accent-color;
    }
    &:hover a {
        color: $accent-color;
    }
}

.websiteConcept li a {
    color: $primary-color;
}

.fa-diamond,
.fa-camera-retro,
.fa-magic {
    font-size: 2.4rem;
    border: 1px solid $secondary-color;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 10px;
    // @media (max-width: 1300px) {
    //     margin: 10px 10px 0;
    // }
}


.large {
    margin-top: 80px;
    // @media (max-width: $break-small) {
    //     display: block;
    //     text-align: center;
    //     margin-top: 40px;
    // }
}

