article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*GLOBAL STYLES*/
/* Variables */
/* Main global styles */
body {
  font-size: 62.5%;
  background-color: white; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.wrapper {
  margin: 0 auto;
  max-width: 1920px; }

.innerWrapper {
  margin: 0 auto;
  max-width: 1125px; }

.sectionText {
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color: #6f6f6f;
  line-height: 30px;
  margin-bottom: 25px; }

section {
  padding: 50px 0; }

h3, h4 {
  font-family: "Montserrat", sans-serif;
  color: #141414;
  text-transform: uppercase; }

h3, h4, h6 {
  letter-spacing: 1px; }

.section-header h3 {
  padding: 0 0 20px 0;
  font-weight: 700;
  font-size: 1.0rem; }

.blog-text h4 {
  padding: 15px 0;
  margin: 15px 0;
  font-size: 1.2rem; }

h5 {
  color: rgba(209, 203, 203, 0.9);
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 1.0rem; }

h6 {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 10px 0; }

.button {
  display: inline-block; }

.button a {
  font-family: "Montserrat", sans-serif;
  color: #141414;
  font-size: 1.0rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  border: 1px solid #141414;
  padding: 15px 20px; }
  .button a:hover {
    background: #eeb013; }

/* HEADER STYLES */
.mainHeader {
  height: 100vh;
  background: url(../images/header-background.jpg) fixed center/cover; }

/* Navigational header styles */
nav {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  width: 65%; }

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 940px) {
    .mainNav {
      display: none; } }

.mainNav li a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .mainNav li a:hover {
    border-bottom: 2px solid #eeb013;
    color: #eeb013; }

/*Header icon nav styles */
.iconNav {
  width: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.iconNav li a {
  color: white;
  font-size: 0.8rem;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in; }
  .iconNav li a:hover {
    color: #eeb013; }

/* HEADER BANNER STYLES */
.headerBanner ul {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 65px;
  width: 100%; }

.headerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.headerText p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.0rem;
  font-weight: 700; }

.headerArrow .fa {
  font-size: 1.2rem; }

.fa-chevron-left,
.fa-chevron-right {
  color: rgba(255, 255, 255, 0.445);
  text-shadow: #141414 0 0 15px;
  padding: 10px; }

.websiteTitle {
  font-size: 6.0rem; }

.slogan {
  margin-top: -25px; }

.enterButton {
  margin-top: 45px; }

.enterButton a {
  color: rgba(209, 203, 203, 0.9);
  border: 1px solid rgba(209, 203, 203, 0.9);
  padding: 25px 15px;
  border-radius: 50%;
  text-shadow: #141414 0 0 25px;
  -webkit-box-shadow: #141414 0 0 25px;
  box-shadow: #141414 0 0 25px; }
  .enterButton a:hover {
    color: #eeb013;
    border-color: #eeb013; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif; }
  .overlay a:hover, .overlay a:focus {
    color: #eeb013; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

.responsive-menu {
  width: 6rem;
  display: none;
  color: white;
  font-size: 0.8rem;
  margin: 10px;
  font-family: "Montserrat", sans-serif; }

@media (max-width: 1200px) {
  nav {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 940px) {
  .iconNav {
    width: 50px; }
  .responsive-menu {
    display: block; } }

@media (max-width: 705px) {
  .headerArrow {
    display: none; }
  .headerBanner ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 570px) {
  .websiteTitle {
    font-size: 4.4rem; } }

@media (max-width: 565px) {
  .iconNav {
    width: 50%; }
  .iconNav i {
    font-size: 1.2rem; }
  .responsive-menu {
    width: 100%;
    font-size: 1.2rem; }
  .websiteTitle {
    font-size: 3.8rem; } }

@media (max-width: 420px) {
  .responsive-menu {
    margin-right: 0;
    width: 150%; }
  .iconNav {
    width: 80%; } }

@media (max-width: 375px) {
  .iconNav {
    width: 100%; }
  #responsive-title {
    display: none; }
  .headerText p {
    font-size: 2.0rem; }
  .websiteTitle {
    font-size: 2.5rem; } }

@media (max-width: 345px) {
  .iconNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0; }
  .iconNav i {
    padding-bottom: 10px;
    font-size: 1.0rem; }
  #toggle {
    font-size: 0.8rem; } }

/* WEBSITE INTRODUCTION SECTION STYLES */
.websiteIntroBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between; }

.logoBox {
  padding: 0 100px; }

.websiteConcept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.conceptText h4 {
  margin: 1.5rem 0; }

.websiteConcept li {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px; }
  .websiteConcept li:hover i {
    border-color: #eeb013;
    color: #eeb013; }
  .websiteConcept li:hover a {
    color: #eeb013; }

.websiteConcept li a {
  color: #141414; }

.fa-diamond,
.fa-camera-retro,
.fa-magic {
  font-size: 2.4rem;
  border: 1px solid #6f6f6f;
  padding: 15px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 10px; }

.large {
  margin-top: 80px; }

@media (max-width: 1200px) {
  .sectionText {
    margin-right: 2rem; }
  .websiteConcept {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .websiteConcept li {
    margin-right: 3%; } }

@media (max-width: 1000px) {
  .logoBox {
    padding: 0 2rem; } }

@media (max-width: 888px) {
  .websiteConcept {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .websiteConcept li {
    width: 45%;
    margin: 6px 0; } }

@media (max-width: 800px) {
  .websiteConcept {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .websiteConcept li {
    width: 100%; } }

@media (max-width: 530px) {
  .logoBox {
    display: none; }
  .websiteIntroBox {
    width: 90%;
    margin: 0 auto; }
  .conceptText .button {
    text-align: center;
    width: 100%; } }

@media (max-width: 372px) {
  .websiteConcept {
    width: 90%; } }

/* GENERAL SECTION HEADER STYLES*/
.section-header {
  text-align: center; }
  .section-header h5 {
    padding: 20px; }

.section-header-img {
  text-align: center;
  position: relative;
  padding: 0 10px;
  z-index: 50;
  display: inline-block;
  background: white; }

.section-header div::after {
  content: "";
  width: 90px;
  border-top: 1px solid rgba(134, 132, 132, 0.308);
  display: block;
  height: 9px;
  position: absolute;
  left: 50%;
  z-index: 40;
  margin-top: -9px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

/* OUR WORK SECTION STYLES*/
/* Our works button banner styles */
.worksButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 55%;
  margin: 1.5rem auto; }

.small a {
  display: inline-block;
  font-size: 0.6rem;
  letter-spacing: 0; }

/* Our works photogrid styles */
.photogridText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0; }

.photoOverlay {
  display: none;
  height: 30%; }

.photoOverlay p:first-child {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 1.0rem;
  padding: 4%;
  color: rgba(255, 255, 255, 0.7); }

.photoOverlay p:last-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.7); }

.ourWorksPhotogrid figure:hover .photoOverlay,
.ourWorksPhotogrid figure:focus .photoOverlay {
  display: inline-block;
  background: #141414; }

.ourWorksPhotogrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.ourWorksPhotogrid img {
  width: 100%; }

.ourWorksPhotogrid li {
  width: 25%; }

.ourWorksPhotogrid figure {
  position: relative; }

@media (max-width: 1100px) {
  .worksButtons {
    width: 70%; } }

@media (max-width: 1000px) {
  .ourWorksPhotogrid li {
    width: 50%; } }

@media (max-width: 600px) {
  .ourWorksPhotogrid li {
    width: 100%; } }

@media (max-width: 800px) {
  .worksButtons {
    width: 85%; } }

@media (max-width: 650px) {
  .worksButtons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .worksButtons li {
    margin: 5px; } }

/* CHOOSE US SECTION STYLES */
.servicesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 1200px) {
  .servicesBox {
    width: 95%;
    margin: 0 auto; } }

.servicesText p:nth-of-type(2) {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 1px; }
  .servicesText p:nth-of-type(2) span {
    font-family: "Crimson Text", serif;
    font-style: italic;
    color: #6f6f6f;
    letter-spacing: 0; }

.servicesText h4 {
  margin: 1.5rem 0; }

.chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px 0; }

.chartItem {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 10px 0; }

.chartItem i {
  font-size: 2.0rem;
  padding: 8px 25px 25px 25px; }

@media (max-width: 670px) {
  .servicesBox img {
    display: none; }
  .chartItem {
    width: 50%; } }

@media (max-width: 455px) {
  .chartItem {
    width: 100%; } }

/* COMPANY STATS BANNER STYLES */
.companyDetails {
  background: #141414; }

.companyStats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1570px) {
    .companyStats {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 768px) {
    .companyStats {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 70%;
      margin: 0 auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 501px) {
    .companyStats {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.companyStats li {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.0rem;
  padding: 20px 0; }
  @media (max-width: 1570px) {
    .companyStats li {
      margin: 0 20px; } }
  @media (max-width: 501px) {
    .companyStats li {
      font-size: 2.5rem; } }
  @media (max-width: 396px) {
    .companyStats li {
      padding: 10px 0;
      font-size: 2.0rem; } }

.companyStats span {
  display: block;
  font-size: 1.2rem;
  font-family: "Crimson Text", serif;
  color: #6f6f6f;
  font-style: italic;
  padding: 20px 0; }
  @media (max-width: 501px) {
    .companyStats span {
      display: inline;
      padding: 0 10px; } }
  @media (max-width: 396px) {
    .companyStats span {
      padding: 0;
      display: block; } }

/* OUR TEAM SECTION STYLES */
.teamGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.teamGallery li {
  position: relative; }

.teamGallery figure {
  position: relative; }
  .teamGallery figure:hover .teamDetails {
    display: block;
    background: rgba(0, 0, 0, 0.247); }

.teamDetails {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
  color: white; }

.teamDetails div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.teamDetails p {
  margin: 0 20px;
  font-size: 1.0rem;
  letter-spacing: 1px; }

.teamDetails p:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.teamDetails p:last-child {
  padding: 5px 0 15px 0;
  font-family: "Crimson Text", serif;
  font-style: italic; }

.teamGallery figure::before {
  content: "";
  width: 100%;
  height: 81%;
  border-bottom: 1px solid white;
  position: absolute;
  display: none; }

.teamGallery figure:hover::before {
  display: block; }

.joinUsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.joinUsText div {
  width: 66.6%;
  margin: 0; }

.joinUsText h4 {
  margin: 1.5rem 0; }

@media (max-width: 1200px) {
  .teamGallery {
    width: 96%;
    margin: 0 auto; }
  .teamGallery img {
    width: 100%; }
  .joinUsText {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 800px) {
  .teamGallery figure::before {
    border: none; } }

@media (max-width: 650px) {
  .joinUsText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .joinUsText .sectionText {
    width: 100%; } }

@media (max-width: 570px) {
  .teamGallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .teamGallery figure::before {
    border-bottom: 1px solid white; } }

/* PROMOTION BANNER STYLES */
.promotionBanner {
  background: #141414; }
  @media (max-width: 710px) {
    .promotionBanner {
      padding: 50px 10px; } }

.bannerInfo p:first-child {
  color: #6f6f6f;
  font-family: "Crimson Text", serif;
  font-size: 1.6rem;
  font-style: italic;
  letter-spacing: 1px; }
  @media (max-width: 1570px) {
    .bannerInfo p:first-child {
      margin-bottom: 25px;
      text-align: center; } }

.bannerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1170px) {
    .bannerInfo {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.bannerInfo .button a {
  background: #eeb013;
  color: #6f6f6f; }
  .bannerInfo .button a:hover {
    background: #6f6f6f;
    color: #eeb013; }

@media (max-width: 1570px) {
  .banner-info .button {
    margin: 0 10px; } }

/* BLOG SECTION STYLES*/
.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.blogPost li {
  width: 50%; }

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

.blogContainer img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 50%; }

@media (max-width: 1800px) {
  .blogContainer img {
    width: 30%; } }

@media (max-width: 1000px) {
  .blogPost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .blogPost li {
    width: 100%; }
  .blogContainer img {
    width: 50%; }
  .blogPost li:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .blogPost li:nth-of-type(4) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

@media (max-width: 550px) {
  .blogContainer img {
    width: 18%; } }

.blogContainer figcaption {
  background: #eaeaea;
  padding: 50px; }

.blogText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative; }

.blogText h5 {
  margin: 10px 0;
  color: #141414; }

.blogText h4 {
  text-transform: capitalize;
  padding-bottom: 10px; }

.blogText .section-text {
  font-weight: 400; }

.readMore {
  font-size: 0.8rem; }

.readMore a {
  color: #141414;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }
  .readMore a:hover {
    color: #eeb013; }

.fa-long-arrow-right {
  padding: 10px; }

/* Decorative triangles for blogs */
.blogBefore::before,
.blogAfter::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #eaeaea;
  position: absolute; }

.blogBefore::before {
  left: 0%;
  -webkit-transform: translate(-150%, 50%) rotate(45deg);
  -ms-transform: translate(-150%, 50%) rotate(45deg);
  transform: translate(-150%, 50%) rotate(45deg); }

.blogAfter::before {
  right: 0%;
  -webkit-transform: translate(150%, 50%) rotate(45deg);
  -ms-transform: translate(150%, 50%) rotate(45deg);
  transform: translate(150%, 50%) rotate(45deg); }

@media (max-width: 370px) {
  .blogContainer img {
    display: none; }
  .blogBefore::before {
    display: none; }
  .blogAfter::before {
    display: none; } }

/* PRICING SECTION STYLES*/
.tagline {
  text-align: center;
  margin: 20px 0 50px 0; }

.pricingSection span {
  font-family: "Crimson Text", serif;
  text-transform: lowercase;
  color: #6f6f6f;
  font-style: italic; }

.allPricingPlans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  font-family: "Montserrat", sans-serif; }

.planButton {
  visibility: hidden;
  margin-bottom: -30px; }

.planButton a {
  color: white;
  background: #141414;
  text-transform: uppercase;
  padding: 10px 35px; }
  .planButton a:hover {
    background: #eeb013; }

.pricePlan li {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #6f6f6f;
  padding: 25px 40px; }

.pricePlan li:first-child {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding: 25px 50px;
  width: 100%;
  border-bottom: 1px solid #6f6f6f;
  color: #141414; }
  @media (max-width: 940px) {
    .pricePlan li:first-child {
      display: inline-block; } }

.pricePlan {
  border: 1px solid #6f6f6f;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  .pricePlan:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0.5px 1px 10px #eeb013;
    box-shadow: 0.5px 1px 10px #eeb013; }
  .pricePlan:hover .planButton {
    visibility: visible; }

.pricePlan li:nth-child(3),
.pricePlan li:nth-child(5) {
  position: relative; }

.pricePlan li:nth-child(3)::after,
.pricePlan li:nth-child(5)::after {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #eeb013;
  padding: 0 10px;
  position: absolute;
  margin-top: 2px; }

.price p {
  font-size: 3.4rem;
  color: #141414;
  position: relative; }

.priceSymbol {
  font-weight: 700;
  position: absolute;
  top: 5px;
  left: -12px; }

.price span {
  font-size: 0.8rem; }

@media (max-width: 1200px) {
  .allPricingPlans > li {
    padding: 25px 15px; } }

@media (max-width: 1000px) {
  .allPricingPlans > li {
    padding: 25px 5px; }
  .pricePlan:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .planButton {
    visibility: visible; } }

@media (max-width: 950px) {
  .allPricingPlans {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .allPricingPlans > li {
    padding: 25px; } }

@media (max-width: 715px) {
  .allPricingPlans > li {
    padding: 25px 5px; } }

@media (max-width: 650px) {
  .allPricingPlans > li {
    width: 50%; }
  .planButton a {
    padding: 10px 15px; }
  .price p {
    font-size: 2.0rem; }
  .pricePlan li:first-child {
    font-size: 1.2rem; } }

@media (max-width: 530px) {
  .price-info {
    display: none; }
  .planButton a {
    font-size: 0.6rem; }
  .pricePlan li:first-child {
    font-size: 0.8rem; } }

@media (max-width: 450px) {
  .allPricingPlans > li {
    width: 80%; }
  .planButton a {
    padding: 10px 35px; } }

@media (max-width: 365px) {
  .planButton a {
    padding: 10px 15px; } }

/* MAIN FOOTER STYLES */
.mainFooter {
  background: #141414;
  color: #6f6f6f;
  padding: 25px 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 45px; }

.footerSectionBio {
  width: 35%; }

.footerBio {
  width: 100%;
  line-height: 20px; }

.footerBio li {
  display: inline-block; }

.footerBio li:first-child {
  color: #eeb013; }

.footerBio img {
  padding: 25px 0; }

.footerSectionLinks {
  width: 15%; }

.footerElements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.footerInsta {
  width: 30%; }

.footerLinks {
  padding: 0 20px 0 30px; }

.footerLinks a {
  color: #6f6f6f;
  text-transform: uppercase;
  padding: 7px 0;
  display: inline-block; }
  .footerLinks a:hover {
    color: #eeb013; }

.footerTwitter {
  width: 20%; }

.twitterWidget p {
  line-height: 20px; }

.twitterWidget p:last-child {
  color: rgba(255, 255, 255, 0.158);
  margin-bottom: 10px; }

.twitterWidget a {
  color: #6f6f6f; }
  .twitterWidget a:hover {
    color: #eeb013; }

.fa-twitter {
  color: rgba(255, 255, 255, 0.158);
  padding-right: 10px; }

.twitterWidget {
  padding: 0 30px 0 5px; }

.instagramFooter {
  padding: 0 0 0 30px; }

.footerImages {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.footerImages div {
  width: 90px;
  height: 90px;
  background: #6f6f6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footerImages div:hover i {
    color: white; }
  .footerImages div:hover {
    background: #eeb013; }

.footerImages i {
  margin: auto;
  font-size: 1.6rem;
  color: #6f6f6f; }

.footerHeading {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  margin: 10px 0 25px 0; }

@media (max-width: 1200px) {
  .footerElements {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 1000px) {
  .footerImages {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .footerImages li {
    border: 3px solid #141414; } }

@media (max-width: 800px) {
  .footerImages li {
    width: 50%; } }

@media (max-width: 740px) {
  .footerImages div {
    width: 100%; } }

@media (max-width: 650px) {
  .footerInsta {
    display: none; }
  .footerSectionLinks {
    width: 35%; }
  .footerTwitter {
    width: 35%; } }

@media (max-width: 450px) {
  .footerSectionBio {
    width: 70%; }
  .footerSectionLinks {
    width: 30%; }
  .footerElements {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footerTwitter {
    width: 95%; } }

/* COPYRIGHT FOOTER STYLES */
.navFooter {
  background: #141414;
  padding: 25px 0; }

.copyrightFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.copyrightFooter li:first-child {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.158); }

.footerSocialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footerSocialNav i {
  color: #6f6f6f;
  font-size: 1.2rem;
  padding: 0 25px; }
  .footerSocialNav i:hover {
    color: #eeb013; }

@media (max-width: 1200px) {
  .copyrightFooter {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 530px) {
  .copyrightFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid goldenrod; }
  .copyrightFooter > li:first-child {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-top: 10px;
    text-align: center; }
  .footerSocialNav {
    width: 100%;
    margin: 0 auto;
    border: 1px solid red; } }

@media (max-width: 440px) {
  .footerSocialNav {
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
  .footerSocialNav i {
    padding: 0 10px; } }

/* CLIENT TESTIMONIALS STYLES */
/* Client images styles */
.clientGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.clientGrid li {
  padding: 20px; }

/*Client information styles */
.client {
  text-transform: uppercase;
  text-align: center; }

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding: 15px 0 5px 0; }

.position {
  font-family: "Crimson Text", serif;
  color: #6f6f6f;
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 1.5rem; }

.triangleIcon {
  padding: 5px;
  position: relative;
  z-index: 50;
  background: white; }

.sectionImage {
  margin: 0 auto;
  width: 45px; }

.sectionImage::before {
  content: "";
  width: 110px;
  border-top: 1px solid rgba(134, 132, 132, 0.308);
  height: 20px;
  position: absolute;
  left: 50%;
  z-index: 40;
  margin-top: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.clientQuote {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 1.0rem;
  font-style: italic;
  color: #6f6f6f;
  line-height: 25px;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15px; }

.clientHoverBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fa-circle {
  padding: 5px;
  color: #6f6f6f; }
  .fa-circle:hover {
    color: #eeb013; }

@media (max-width: 570px) {
  .clientGrid {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 560px) {
  .clientGrid li:first-child {
    display: none; }
  .clientGrid li:last-child {
    display: none; } }
