article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*GLOBAL STYLES*/
/* Variables */
/* Main global styles */
body {
  font-size: 62.5%;
  background-color: white; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.wrapper {
  margin: 0 auto;
  max-width: 1920px; }

.inner-wrapper {
  margin: 0 auto;
  max-width: 1125px; }

.section-text {
  font-size: 1.0rem;
  font-family: "Montserrat", sans-serif;
  color: #6f6f6f;
  line-height: 30px;
  margin-bottom: 25px; }

section {
  padding: 50px 0; }

h3, h4 {
  font-family: "Montserrat", sans-serif;
  color: #141414;
  text-transform: uppercase; }

h3, h4, h6 {
  letter-spacing: 1px; }

.section-header h3 {
  padding: 0 0 20px 0;
  font-weight: 700;
  font-size: 1.0rem; }

.blog-text h4 {
  padding: 15px 0;
  margin: 15px 0;
  font-size: 1.2rem; }

h5 {
  color: rgba(209, 203, 203, 0.9);
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 1.0rem; }

h6 {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 10px 0; }

.button {
  display: inline-block; }

.button a {
  font-family: "Montserrat", sans-serif;
  color: #141414;
  font-size: 1.0rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  border: 1px solid #141414;
  padding: 15px 20px; }
  .button a:hover {
    background: #eeb013; }

/* HEADER STYLES */
.main-header {
  height: 100vh;
  background: url(../images/header-background.jpg) fixed center/cover; }

/* Navigational header styles */
nav {
  padding-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  width: 65%; }

.mainNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.mainNav li a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .mainNav li a:hover {
    border-bottom: 2px solid #eeb013;
    color: #eeb013; }

/*Checkbox navigation styles */
input#toggle:checked + .main-nav {
  display: inline; }

input#toggle {
  display: none; }

label {
  display: none; }

/*Sub nav styles */
.subNav ul {
  display: none;
  position: absolute;
  padding: 5px 0; }
  .subNav ul li a {
    display: inline-block;
    margin-top: 8px; }

.subNav:hover ul {
  display: block; }

.subNav a i {
  margin-left: 10px; }

/*Header icon nav styles */
.iconNav {
  width: 4%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.iconNav li a {
  color: white;
  font-size: 0.8rem;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in; }
  .iconNav li a:hover {
    color: #eeb013; }

/* HEADER BANNER STYLES */
.headerBanner ul {
  padding-top: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 65px; }

.headerText {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.headerText p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.0rem;
  font-weight: 700; }

.headerArrow .fa {
  font-size: 1.2rem; }

.fa-chevron-left,
.fa-chevron-right {
  color: rgba(255, 255, 255, 0.445);
  text-shadow: #141414 0 0 15px;
  padding: 10px; }

.websiteTitle {
  font-size: 6.0rem; }

.slogan {
  margin-top: -25px; }

.enterButton {
  margin-top: 45px; }

.enterButton a {
  color: rgba(209, 203, 203, 0.9);
  border: 1px solid rgba(209, 203, 203, 0.9);
  padding: 25px 15px;
  border-radius: 50%;
  text-shadow: #141414 0 0 25px;
  -webkit-box-shadow: #141414 0 0 25px;
  box-shadow: #141414 0 0 25px; }
  .enterButton a:hover {
    color: #eeb013;
    border-color: #eeb013; }

/* WEBSITE INTRODUCTION SECTION STYLES */
.websiteIntroBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
  -ms-flex-align: space-between;
  align-items: space-between; }

.logoBox {
  padding: 0 100px; }

.websiteConcept {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.conceptText h4 {
  margin: 1.5rem 0; }

.websiteConcept li {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px; }
  .websiteConcept li:hover i {
    border-color: #eeb013;
    color: #eeb013; }
  .websiteConcept li:hover a {
    color: #eeb013; }

.websiteConcept li a {
  color: #141414; }

.fa-diamond,
.fa-camera-retro,
.fa-magic {
  font-size: 2.4rem;
  border: 1px solid #6f6f6f;
  padding: 15px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 10px; }

.large {
  margin-top: 80px; }

/* GENERAL SECTION HEADER STYLES*/
.section-header {
  text-align: center; }
  .section-header h5 {
    padding: 20px; }

.section-header-img {
  text-align: center;
  position: relative;
  padding: 0 10px;
  z-index: 50;
  display: inline-block;
  background: white; }

.section-header div::after {
  content: "";
  width: 90px;
  border-top: 1px solid rgba(134, 132, 132, 0.308);
  display: block;
  height: 9px;
  position: absolute;
  left: 50%;
  z-index: 40;
  margin-top: -9px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

/* OUR WORK SECTION STYLES*/
/* Our works button banner styles */
.worksButtons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 55%;
  margin: 1.5rem auto; }

.small a {
  display: inline-block;
  font-size: 0.6rem;
  letter-spacing: 0; }

/* Our works photogrid styles */
.photogridText {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0; }

.photoOverlay {
  display: none;
  height: 30%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.photoOverlay p:first-child {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 1.0rem;
  padding: 20px;
  color: rgba(255, 255, 255, 0.7); }

.photoOverlay p:last-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.0rem;
  color: rgba(255, 255, 255, 0.7); }

.ourWorksPhotogrid figure:hover .photoOverlay,
.ourWorksPhotogrid figure:focus .photoOverlay {
  display: inline-block;
  background: #141414; }

.ourWorksPhotogrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.ourWorksPhotogrid figure {
  position: relative; }

/* CHOOSE US SECTION STYLES */
.servicesBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.servicesText p:nth-of-type(2) {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 1px; }
  .servicesText p:nth-of-type(2) span {
    font-family: "Crimson Text", serif;
    font-style: italic;
    color: #6f6f6f;
    letter-spacing: 0; }

.servicesText h4 {
  margin: 1.5rem 0; }

.chart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px 0; }

.chartItem {
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 10px 0; }

.chartItem i {
  font-size: 2.0rem;
  padding: 8px 25px 25px 25px; }

/* COMPANY STATS BANNER STYLES */
.companyDetails {
  background: #141414; }

.companyStats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.companyStats li {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3.0rem;
  padding: 20px 0; }

.companyStats span {
  display: block;
  font-size: 1.2rem;
  font-family: "Crimson Text", serif;
  color: #6f6f6f;
  font-style: italic;
  padding: 20px 0; }

/* OUR TEAM SECTION STYLES */
.teamGallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.teamGallery li {
  position: relative; }

.teamGallery figure {
  position: relative; }
  .teamGallery figure:hover .teamDetails {
    display: block;
    background: rgba(0, 0, 0, 0.247); }

.teamDetails {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
  color: white; }

.teamDetails div {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.teamDetails p {
  margin: 0 20px;
  font-size: 1.0rem;
  letter-spacing: 1px; }

.teamDetails p:first-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.teamDetails p:last-child {
  padding: 5px 0 15px 0;
  font-family: "Crimson Text", serif;
  font-style: italic; }

.teamGallery figure::before {
  content: "";
  width: 100%;
  height: 81%;
  border-bottom: 1px solid white;
  position: absolute;
  display: none; }

.teamGallery figure:hover::before {
  display: block; }

.joinUsText {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.joinUsText div {
  width: 66.6%;
  margin: 0; }

.joinUsText h4 {
  margin: 1.5rem 0; }

/* PROMOTION BANNER STYLES */
.promotionBanner {
  background: #141414; }

.bannerInfo p:first-child {
  color: #6f6f6f;
  font-family: "Crimson Text", serif;
  font-size: 1.6rem;
  font-style: italic;
  letter-spacing: 1px; }

.bannerInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.bannerInfo .button a {
  background: #eeb013;
  color: #6f6f6f; }
  .bannerInfo .button a:hover {
    background: #6f6f6f;
    color: #eeb013; }

/* BLOG SECTION STYLES*/
.blogPost {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blogPost li {
  width: 50%; }

.blogContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.blogContainer figcaption {
  background: #eaeaea;
  padding: 50px; }

.blogText {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative; }

.blogText h5 {
  margin: 10px 0;
  color: #141414; }

.blogText h4 {
  text-transform: capitalize;
  padding-bottom: 10px; }

.blogText .section-text {
  font-weight: 400; }

.blogText .read-more {
  font-size: 0.8rem; }
  .blogText .read-more a {
    color: #141414;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; }
    .blogText .read-more a:hover {
      color: #eeb013; }
    .blogText .read-more a i {
      padding: 10px; }

/* Decorative triangles for blogs */
.blog-before::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: #eaeaea;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -19%; }

.blog-after::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: #eaeaea;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -19%; }

/* PRICING SECTION STYLES*/
.pricing-section h3 {
  margin-bottom: 25px; }
  .pricing-section h3 span {
    font-family: "Crimson Text", serif;
    text-transform: lowercase;
    color: #6f6f6f;
    font-style: italic; }

.all-pricing-plans {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  font-family: "Montserrat", sans-serif; }

.price-plan--button {
  margin-bottom: -30px; }
  .price-plan--button a {
    color: white;
    background: #141414;
    text-transform: uppercase;
    padding: 10px 35px; }
    .price-plan--button a:hover {
      background: #eeb013; }

.price-plan {
  border: 1px solid #6f6f6f;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .price-plan:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0.5px 1px 10px #eeb013;
    box-shadow: 0.5px 1px 10px #eeb013; }
  .price-plan .price-plan--type {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8rem;
    padding: 25px 50px;
    border-bottom: 1px solid #6f6f6f;
    color: #141414; }
    @media (max-width: 940px) {
      .price-plan .price-plan--type {
        display: inline-block; } }
  .price-plan li {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #6f6f6f;
    padding: 25px 40px; }

.price-arrow {
  position: relative; }

.price-arrow::after {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #eeb013;
  padding: 0 10px;
  position: absolute;
  margin-top: 2px; }

.price-plan--large p {
  font-size: 3.4rem;
  color: #141414;
  position: relative; }
  .price-plan--large p .price-symbol {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -12px; }
  .price-plan--large p span {
    font-family: "Crimson Text", serif;
    font-size: 0.8rem; }

.price-plan--large span:nth-of-type(2) {
  font-style: italic; }

/* MAIN FOOTER STYLES */
.main-footer {
  background: #141414;
  color: #6f6f6f;
  padding: 25px 0;
  font-family: "Montserrat", sans-serif;
  margin-top: 45px; }

.footer-elements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .footer-elements .footer-section-bio {
    width: 35%; }
  .footer-elements .footer-section-links {
    width: 15%; }
  .footer-elements .footer-section-twitter {
    width: 20%; }
  .footer-elements .footer-section-insta {
    width: 30%; }

.footer-bio {
  width: 100%;
  line-height: 20px; }
  .footer-bio li {
    display: inline-block; }
    .footer-bio li img {
      padding: 25px 0; }
  .footer-bio .main-footer__heading {
    color: #eeb013; }

.footer-links {
  padding: 0 20px 0 30px; }

.twitter-widget {
  padding: 0 30px 0 5px; }
  .twitter-widget p:last-child {
    color: rgba(255, 255, 255, 0.158);
    margin-bottom: 10px; }
  .twitter-widget p {
    line-height: 20px; }
    .twitter-widget p a {
      color: #6f6f6f; }
      .twitter-widget p a:hover {
        color: #eeb013; }
    .twitter-widget p i {
      color: rgba(255, 255, 255, 0.158);
      padding-right: 10px; }

.instagram-footer {
  padding: 0 0 0 30px; }

.footer-images {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }
  .footer-images li div {
    width: 90px;
    height: 90px;
    background: #6f6f6f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer-images li div:hover i {
      color: white; }
    .footer-images li div:hover {
      background: #eeb013; }
    .footer-images li div i {
      margin: auto;
      font-size: 1.6rem;
      color: #6f6f6f; }

.main-footer__heading {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  margin: 10px 0 25px 0; }

/* COPYRIGHT FOOTER STYLES */
.nav-footer {
  background: #141414;
  padding: 25px 0; }

.copyright-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.copyright {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.158); }

.footer-social-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-social-nav i {
    color: #6f6f6f;
    font-size: 1.2rem;
    padding: 0 25px; }
    .footer-social-nav i:hover {
      color: #eeb013; }

/* CLIENT TESTIMONIALS STYLES */
/* Client images styles */
.clientGrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.clientGrid li {
  padding: 20px; }

/*Client information styles */
.client {
  text-transform: uppercase;
  text-align: center; }

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8rem;
  padding: 15px 0 5px 0; }

.position {
  font-family: "Crimson Text", serif;
  color: #6f6f6f;
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 1.5rem; }

.triangleIcon {
  padding: 5px;
  position: relative;
  z-index: 50;
  background: white; }

.sectionImage {
  margin: 0 auto;
  width: 45px; }

.sectionImage::before {
  content: "";
  width: 110px;
  border-top: 1px solid rgba(134, 132, 132, 0.308);
  height: 20px;
  position: absolute;
  left: 50%;
  z-index: 40;
  margin-top: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.clientQuote {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 1.0rem;
  font-style: italic;
  color: #6f6f6f;
  line-height: 25px;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15px; }

.clientHoverBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fa-circle {
  padding: 5px;
  color: #6f6f6f; }
  .fa-circle:hover {
    color: #eeb013; }
